*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Bold.ttf");
	font-weight: bold;
}

body {
	font-family: "OpenSans", sans-serif;
	counter-reset: section;
	width: 100%;
	font-size: 5vmin;
}

a {
	text-decoration: none;
}

.header, .footer {
	background-image: url("../images/football_767.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #0a0e2f;
	position: relative;
	height: 100vmax;
}

.header::after, .footer::after {
	content: "";
	background-color: #0a0e34;
	opacity: 0.9;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.header-container, .footer-container {
	position: relative;
	z-index: 1;

    height: 100vmax;
	padding: 0 6%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo-icon {
	fill: #ffffff;
	width: 140px;
}

.logo {
	text-align: center;
	padding: 20px 0;
}

.header-title {
	font-size: 1.75em;
	letter-spacing: 1px;
	line-height: 1.2;
	color: #ffffff;
	text-transform: uppercase;
	max-width: 450px;
	margin: auto;
}

.header-title-other {
	display: block;
	max-width: 70vmin;
	margin-left: auto;
	padding-top: 20px;
}

.store-btns {
	margin-bottom: 40px;
}

.store-btn-appstore, .store-btn-googleplay {
	width: 87.5vmin;
	height: 11vmin;
	background-color: #5e42b0;
	border-radius: 50px;
	margin: 10px auto;
}

.appstore-icon, .googleplay-icon {
	fill: #ffffff;
	width: 8vmin;
}

.appstore-btn-name, .googleplay-btn-name {
	color: #fff;
	font-size: 0.5em;
	text-transform: uppercase;
	padding: 2vmin;
}

.googleplay-btn-name {
	width: 25vmin;
}

.appstore-btn-title, .googleplay-btn-title {
	font-weight: bold;
	padding-top: 2px;
}

.appstore-link, .googleplay-link {
	display: flex;
	justify-content: center;
}

/*шапка закончилась здесь*/

.article-header {
	padding: 0 6%;
}

.art-section {
	padding: 50px 6%;
}

.article-title::after {
	content: "";
	display: block;
	background-image: url("../images/footballer_192.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 87.5vmin;
	height: 87.5vmin;
	position: absolute;
	left: calc(50% - 87.5vmin/2);
}

.players .article-title::after {
	background-image: url("../images/basketballer_302.png");
}

.article-title {
	font-size: 3.1em;
	line-height: 1.2;
	color: #e7e7e7;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 76vmin;
	position: relative;
}

.art-section-header {
	display: flex;
	padding: 10px 0;
}

.art-section-number {
	font-size: 0.8em;
	letter-spacing: 1px;
	color: #000000;
	font-weight: 700;
}

.art-section-number::after {
	content: "";
	height: 4px;
	border-radius: 1px;
	background-color: #5e42b0;
	display: block;
}

.art-section-title {
	font-size: 1.5em;
	letter-spacing: 1px;
	line-height: 1;
	color: #c1c1c1;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 10px;
}

.art-section-content {
	font-size: 0.9em;
	letter-spacing: 1px;
	line-height: 1.2;
	color: #000000;
	font-weight: 400;
	padding: 10px 0;
}

.art-section:nth-child(4n+2) {
	background-color: #fafafa;
}

.art-section:nth-child(4n+3) {
	background-color: #f5f4f9;
}

.art-sec-cont-03 {
	color: #ffffff;
}

.num-03 {
	color: #8765dd;
}
.art-sec-num-03::after {
	background-color: #ffffff;
}

.art-sec-03 {
	background-color: #5e42b0;
}

.art-section-03 {
	background-color: #090c35;
}

.aside-section {
	padding-bottom: 70px;
}

.aside-section-box {
	padding: 0 6%;
}

.aside-section-header {
	font-size: 1.75em;
	letter-spacing: 1px;
	line-height: 1.2;
	color: #e7e7e7;
	font-weight: 700;
	text-transform: uppercase;
	padding: 20px 0;
}

.aside-section-content {
	font-size: 1em;
	letter-spacing: 1px;
	line-height: 1.2;
	color: #000000;
	font-weight: 400;
	padding: 10px 0;
}

.aside-img-wrapper {
	position: relative;

}
.aside-img {
	display: block;
	width: 100%;
}

.aside-img-wrapper::after {
	counter-increment: section;
	content: "0" counter(section) "";
	display: block;
	width: 22vmin;
	height: 22vmin;
	padding: 7.4vmin;
	background-color: #5e42b0;
	font-size: 0.9em;
	letter-spacing: 1px;
	color: #f5f6f7;
	font-weight: 700;
	text-align: center;
	position: absolute;
	left: 6.25vmin;
	bottom: -4.7vmin;
}

.aside-img-wrapper::before {
	content: "";
	display: block;
	width: 4.7vmin;
	height: 4px;
	border-radius: 1px;
	background-color: #ffffff;
	position: absolute;
	left: 14.7vmin;
	bottom: 3vmin;
	z-index: 2;
	opacity: 0.3;
}
/*футер начинается здесь*/

.footer {
	background-image: url("../images/game_767.jpg");
}

.footer-download {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 600px;
	margin: auto;
}

.tagline {
	margin: auto;
}
.tagline-download {
	font-size: 2em;
	letter-spacing: 0.3vmin;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
}

.tagline-other {
	font-size: 0.9em;
	letter-spacing: 0.04em;
	color: #9b8ec1;
	font-weight: 400;
	text-transform: uppercase;
}

.artwork-icon {
	fill: #ffffff;
	width: 22vmin;
	padding: 10px;
	position: relative;
	z-index: 1;
}

.artwork {
	margin: 80px auto 0;
	position: relative;
}

.artwork::after {
	content: "";
	display: block;
	background-color: #5e42b0;
	width: 22vmin;
	height:22vmin;
	position: absolute;
	top: 0;
	border-radius: 20px;
}

@media (min-width: 641px) and (max-width: 960px) {

	body {
		font-size: 100%;
	}

	.header, .footer {
		background-image: url("../images/football_1280.jpg");
	}

	.header-container, .footer-container {
		padding: 0 10px;
		height: 970px;
	}

	.header-title-other {
		max-width: 500px;
	}

	.logo-icon {
		width: 200px;
	}

	.header-title {
		font-size: 4em;
        letter-spacing: 3px;
        max-width: 82%;
	}

	.store-btns {
		display: flex;
		padding: 70px 0;
	}

	.appstore-icon, .googleplay-icon {
		width: 50px;
	}

	.appstore-btn-name, .googleplay-btn-name {
		font-size: 0.9em;
        letter-spacing: 1px;
        padding: 15px;
	}

	.googleplay-btn-name {
		width: 150px;
	}

	.store-btn-appstore, .store-btn-googleplay {
		width: 311px;
        height: 77px;
        filter: drop-shadow(8px 13.856px 12px #0a0e34);
	}

	.article-container {
		overflow: hidden;
	}

	.article-title {
		font-size: 5em;
		padding: 60px 0 30px;
	}

	.art-section:nth-child(4n+2) {
		background-color: #ffffff;
	}

	.art-section {
		padding: 30px 0;
	}

	.art-section-number {
		font-size: 1.1em;
	}

	.art-section-title {
		font-size: 2em;
	}

	.art-section-content {
		font-size: 1em;
	}

	.article-header, .art-section-container {
		width: 65%;
		margin-left: auto;
		padding: 0 6%;
	}

	.players .article-header, .players .art-section-container {
		margin-right: auto;
		margin-left: 0;
	}

	.article-title::after {
		content: "";
		background-image: url("../images/footballer_497.png");
		width: 600px;
		height: 700px;
		left: -530px;
		top: 100px;
	}

	.players .article-title::after {
		content: "";
		background-image: url(../images/basketballer_436.png);
		left: auto;
		top: 10px;
		background-size: 85%;
		right: -420px;
	}

	.aside-section-box {
		padding-top: 60px;
	}

	.aside-section-header {
		font-size: 4.5em;
	}

	.aside-section-content {
		font-size: 1.5em;
	}

	.aside-img-wrapper::after {
		font-size: 1.5em;
		width: 116px;
        height: 116px;
        padding: 35px;
        left: 50px;
        bottom: -35px;
	}

	.aside-img-wrapper::before {
		width: 25px;
        height: 5px;
        border-radius: 2px;
        left: 95px;
        bottom: 5px; 
	}

	.footer {
		background-image: url(../images/game_1280.jpg);
	}

	.tagline-download {
		font-size: 5em;
        line-height: 1.2;
        letter-spacing: 0.5px;
	}

	.tagline-other {
		font-size: 2.2em;
	}

	.artwork {
		margin-top: 120px;
	}

	.artwork-icon {
		width: 130px;
		padding: 20px;
	}

	.artwork::after {
		width: 130px;
		height: 130px;
		border-radius: 35px;
	}
}

@media (min-width: 961px) {

	body {
		font-size: 100%;
		width: 100%;
	}

	.logo-icon {
		width: 200px;
	}

	.header {
		background-image: url("../images/football_1920.jpg");
	}

	.header-container, .footer-container {
		height: 960px;
		max-width: 1550px;
		margin: auto;
		padding: 0 20px;
	}

	.header-title {
		font-size: 4.3em;
		letter-spacing: 5px;
		max-width: none;
	}

	.header-title-other {
		max-width: 1100px;
		width: 880px;
	}

	.store-btns {
		display: flex;
		padding: 70px 0;
		margin: 0 auto;
	}

	.appstore-icon, .googleplay-icon {
		width: 50px;
	}

	.appstore-btn-name, .googleplay-btn-name {
		font-size: 0.9em;
        letter-spacing: 1px;
        padding: 15px;
	}

	.googleplay-btn-name {
		width: 145px;
	}

	.store-btn-appstore, .store-btn-googleplay {
		width: 311px;
        height: 77px;
        margin: 20px 50px;
	}

	.players {
		overflow: hidden;
	}

	.art-section:nth-child(4n+2) {
		background-color: #ffffff;
	}

	.art-section-wrapper {
		max-width: 1550px;
		margin: auto;
	}

	.article-header, .players .article-header {
		max-width: 1550px;
		margin: auto;
		padding: 80px 0 0;
	}

	.article-title {
		font-size: 5em;
		padding: 60px 6% 30px 0;
		width: 50%;
		margin-left: auto;
	}

	.art-section {
		padding: 30px 0;
	}

	.art-section-number {
		font-size: 1.1em;
	}

	.art-section-title {
		font-size: 2.2em;
		letter-spacing: 2px;
	}

	.art-section-content {
		font-size: 1.25em;
	}

	.art-section-container {
		margin-left: auto;
		width: 50%;
		padding-right: 6%;
	}

	.players .art-section-container, .players .article-title {
		margin-right: auto;
		margin-left: 0;
		padding-right: 0;
		padding-left: 6%;
	}

	.article-title::after {
		content: "";
		background-image: url("../images/footballer_566.png");
		width: 850px;
		height: 850px;
		left: -720px;
		top: -20px;
	}

	.players .article-title::after {
		content: "";
		background-image: url(../images/basketballer_991.png);
		left: auto;
		top: -90px;
		right: -600px;
	}

	.aside-section {
		display: flex;
		padding: 0;

	}

	.aside-section:nth-child(even) {
		flex-direction: row-reverse;
		justify-content: center;
	}

	.aside-section-box {
		width: 74%;
		margin: 250px 7% 250px 100px;
		padding: 0;
		max-width: 710px;
	}

	.aside-box-section {
		margin-left: auto;
		margin-right: 100px;
	}

	.aside-section-header {
		font-size: 3.75em;
		padding: 70px 0; 
	}

	.aside-section-content {
		font-size: 1.5em;
	}

	.aside-img {
		display: none;
	}

	.aside-img-wrapper, .aside-img-wrapper-02, .aside-img-wrapper-03 {
		background-image: url("../images/be-active_1024.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 50%;
	}

	.aside-img-wrapper-02 {
		background-image: url("../images/find-contact_1024.jpg");
	}

	.aside-img-wrapper-03 {
		background-image: url("../images/work-it_1024.jpg");
	}

	.aside-section-wrapper {
		width: 50%;
	}

	.aside-img-wrapper::after {
		font-size: 1.5em;
		width: 168px;
		height: 168px;
		left: auto;
		bottom: 370px;
		padding: 70px;
		right: -70px;
	}

	.aside-img-wrapper::before {
		width: 24px;
		height: 5px;
		left: auto;
		bottom: 430px;
		right: 3px;
	}

	.aside-img-wrapper-02::after {
		left: -80px;
	}

	.aside-img-wrapper-02::before {
		left: -7px;
	}




	.footer {
		background-image: url("../images/game_1920.jpg");
	}

	.footer-download {
		flex-direction: row;
		align-items: center;
		margin: 150px auto 0;
		height: auto;
	}

	.tagline-download {
		font-size: 5em;
	}

	.tagline-other {
		font-size: 1.8em;
	}

	.artwork {
		margin: 0 20px;
	}

	.artwork::after {
		width: 140px;
		height: 140px;
		border-radius: 35px;
	}

	.artwork-icon {
		width: 140px;
		padding: 20px;
	}


}